body {
  background: red
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center !important;
}

.weather_data {
  width: 20%;
}
.weather_data .card {
  border-radius: 20px;
}

.weather_data img {
  width: 30%;
}
